<% provide :title, "post: #{@post.title}" %>

<div class="container row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <nav>
      <ul class="breadcrumb">
        <li><%= link_to 'Blog', root_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
        <li class="active"><%= @post.title %></li>
      </ul>
    </nav>

    <atricle>
      <hr />  
      <h1 class="center"><u><%= @post.title %></u></h1>
      <p class="center"><%= @post.content %></p>
      <div class="row">
        <div class="col-sm-4">
          <%= link_to edit_post_path(@post), class: 'btn btn-primary', :title => "Edit",
                                      'data-toggle' => "tooltip", 'data-placement' => "bottom" do %>
            <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          <%= link_to post_path(@post),  :method => :delete, :data => { confirm: 'Confirm Delete ?' },
                                  :class => 'btn btn-danger', :title => "Delete",
                                  'data-toggle' => "tooltip", 'data-placement' => "bottom" do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </div>
        <h4 class="text-right col-sm-8">
          <small>
            Originallt written in: <%= @post.created_at.to_s :long %><br />
            Lastly modified in: <%= @post.updated_at.to_s :long %>
          </small>
        </h4>
      </div>
      <hr />
      <hr />
    </atricle>
    
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <%= render 'comments/form' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 ">
        <h3 class="text-primary"><%= pluralize @post.comments.count, 'comment' %></h3>
        <% if @post.comments.count > 0 %>
          <%= render @post.comments %>
        <% end %>
      </div>
    </div>

  </div>
</div>